
\.vs/EynwaDiscordBot/v15/

Discord\.Interop/bin/Debug/netcoreapp2\.0/

Discord\.Interop/obj/Debug/netcoreapp2\.0/

Discord\.Interop/obj/

Discord\.Logic/bin/Debug/netcoreapp2\.0/

Discord\.Logic/obj/Debug/netcoreapp2\.0/

Discord\.Logic/obj/

Discord\.Models/bin/Debug/netcoreapp2\.0/

Discord\.Models/obj/Debug/netcoreapp2\.0/

Discord\.Models/obj/

EynwaDiscordBot/bin/Debug/netcoreapp2\.0/

EynwaDiscordBot/obj/Debug/netcoreapp2\.0/

EynwaDiscordBot/obj/
