
\.vs/

Discord\.Interop/bin/

Discord\.Interop/obj/

Discord\.Logic/bin/

Discord\.Logic/obj/

Discord\.Models/bin/

Discord\.Models/obj/

EynwaDiscordBot/bin/

EynwaDiscordBot/obj/
